<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <style>
        a {
            width: 25%;
            height: 15%;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: aquamarine;
            position: absolute;
        }
    </style>
</head>
<body>
    <div> Name: <input type="text" name="name" class="txt" placeholder="enter your name or id"></div>
    <center><a href="/start_exam/"><h1>Start Exam</h1></a></center>
</body>
</html>